/* styling the element I want to animate with the
animation sub-properties. */

/* animation-name defined the name of the animation */
.summary,
.title {
    animation-duration: 2s;
    animation-name: tracking-in-contract-bck-bottom;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* @keyframes at-rule defines the appearance, or what changes, of the element with the animation
sub-property.  */
/* the steps are defined as percentage done, `from` alias for 0% or start
and `to` alias for 100% or done */

@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@keyframes in-and-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}