  
  @font-face {
    /* this is the name for my font family */
    font-family: 'Retro';
    src: url("../fonts/RetromarkScript-UNICODE-Dafont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-kerning: none;
    font-synthesis: none;
    font-variant-ligatures: none;
    font-variant-numeric: tabular-nums;
  }
  
  body {
    margin: 10rem;
    font-family: Retro, monospace;
    font-weight: 400;
    line-height: normal;
    color: green;
    text-align: left;
    background-color: black;
    font-kerning: none;
    /* this option emphasizes geometric precision over speed. */
    text-rendering: geometricPrecision;
  }
  
  /* Selects the first letter of a <p> or a h2 header. */
  p::first-letter, h2::first-letter {
    font-size: 2em;
  }

  h1, h2, h3, h4, h5 {
    writing-mode: vertical-rl;
  }